* {
    box-sizing: border-box
}

.container {
    width: 900px;
    margin: 50px auto;
    background-color: #adadad;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container>div {
    width: 250px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    letter-spacing: 1px;
    font-family: Tahoma;
}

.container div:first-of-type {
    background-color: red;
}

.container div:nth-of-type(2) {
    background-color: greenyellow;
    color: black;
}

.container div:last-of-type {
    background-color: blueviolet;
}